@import "variables";

.contact {
    padding: 8rem 0;

    .gridWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .contactLeft {
            display: flex;
            flex-direction: column;
            gap: 4rem;

            h2 {
                font-size: 4rem;
                font-weight: 700;
                line-height: 120%;
                width: 100%;
                max-width: 39rem;
            }

            .contactWay {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;

                .contactItem {
                    display: flex;
                    align-items: center;
                    gap: 0.8rem;

                    span {
                        font-size: 1.6rem;
                        color: $grey-paragraph;
                    }
                }
            }

            .primaryBtn {
                cursor: pointer;
                color: $white;
                background: $brand-green;
                width: fit-content;
                font-size: 1.4rem;
                font-weight: 700;
                text-transform: uppercase;
                padding: 1.6rem 3.2rem;
                border-radius: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.8rem;
                transition: background 0.3s ease;
                &:hover {
                    background: $brand-green-hover;
                }
                img {
                    height: 2rem;
                    width: 2rem;
                }
            }
        }
    }
}
