@import "variables";

.aboutUs {
    background: $brand-beige;
    padding: 24rem 0 8rem 0;

    .gridWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .aboutRight {
            width: 100%;
            max-width: 57.3rem;

            .heatText {
                font-size: 1.4rem;
                font-weight: 700;
                letter-spacing: 0.3rem;
                text-transform: uppercase;
                color: $brand-green;
                margin-bottom: 1rem;
            }

            h2 {
                font-size: 4rem;
                font-weight: 700;
                line-height: 120%;
                color: $grey-headline;
                width: 100%;
                max-width: 44.7rem;
                margin-bottom: 2.4rem;
            }

            p {
                font-size: 1.6rem;
                line-height: 150%;
                color: $grey-paragraph;
            }
        }
    }
}
