// COLORS
$brand-green: #00856f;
$brand-green-hover: #00453a;
$brand-green-light: #dce9e2;
$brand-green-light-2: #f7f9f9;

$brand-beige: #fffaf1;

$grey-headline: #212529;
$grey-paragraph: #495057;

$white: #ffffff;
$black: #000000;
